<a href="https://colab.research.google.com/github/201906163-bakjunha/Aipython/blob/main/240405_aipy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=10
if a>5:
  print('a는 5보다 크다')
  print('프로그램 종료')

a는 5보다 크다
프로그램 종료

In [ ]:
a=10
if a>5:
  print('a는 5보다 크다')
elif a<=5:
  print('a는 5 이하입니다')

a는 5보다 크다
프로그램 종료

In [ ]:
#a의 할당된 값의 짝수/홀수 여부를 알려주는 프로그햄
a=input()
a=int(a)%2
if a==0:     #a%2==0
  print('a는 짝수입니다')
elif a!=0:
  print('a는 혹수입니다')

10
a는 짝수입니다

In [ ]:
a=4
if a>5:
  print('a는 5보다 크다')
elif a<5:
  print('a는 5 이하입니다')
else:
  print('a는 5이다')

a는 5 이하입니다

In [ ]:
 a=10
 b=5
 if a>5:
  if b<10:
    print('a는 5보다 크고 b는 10보다 작다')

a는 5보다 크고 b는 10보다 작다

In [ ]:
a=10
b=5
if a>5 and b<10:
  print('a는 5보다 크고, b는 10보다 작다')

a는 5보다 크고, b는 10보다 작다

In [ ]:
'''0~100의 점수를 입력받아서
90점 이상 A
80점 이상 B
70점 이상 C
60점 이상 D
그외 F'''

sco=float(input('점수를 입력하시오'))
if sco>=90:
  print("A")
elif sco>=80:
  print('B')
elif sco>=70:
  print('C')
elif sco>=60:
  print('D')
else:
  print('F') #grade=
#print(grade)

점수를 입력하시오99
A

In [ ]:
a = [1, 2, 3, 4, 5]

for i in a:
  print(i, end=' ')

1 2 3 4 5

In [ ]:
a = [1, 2, 3, 4, 5]
b = ()
for i in a:
  b += i
print(b)

15

In [ ]:
for i in range(1, 11):
  print(i, end=" ")

1 2 3 4 5 6 7 8 9 10

In [ ]:
#1에서 100 사이의 홀수 출력
for i in range(1, 101, 2):
  print(i, end=' ')
print('\n')
#1에서 100 사이의 짝수 출력
for i in range(2, 101, 2):
  print(i, end=' ')

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

In [ ]:
#1에서 100 사이의 홀수 출력/continue 활용
for i in range(1, 101):
  if i%2==0:
    continue
  print(i, end=' ')

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

In [ ]:
for i in range(5):
 if i%2==1:
  break
 print(i)

0

In [ ]:
even_tot = 0
odd_tot = 0
for i in range(101):
  if i%2==1:
    odd_tot+=i
  else:
    even_tot+=i

print(odd_tot, even_tot)

2500 2550

In [48]:
#n의 값 입력, 1~n까지 반복, 합 계산, 출력

sum=0
n = int(input('n (1 ≤ n ≤ 10,000)'))
for a in range(n+1):
  sum+=a
print(sum)

n (1 ≤ n ≤ 10,000)5
15