<a href="https://colab.research.google.com/github/201906163-bakjunha/Aipython/blob/main/aipt_240510_%EC%8B%A4%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

import pandas as pd
col=['학생', '수학', '영어' , '과학']
df= pd.DataFrame([['john', 90, 85, 88],['Alice', 87, 91, 89],['Bob', 70, 80, 85],['Emily', 92, 88, 82]], columns=['학생', '수학', '영어' , '과학'])
df
#문1. 데이터 함수를 이용하여 데이터 프레임을 생성하시오(pd.DataFrame)
df= pd.DataFrame([['john', 90, 85, 88],['Alice', 87, 91, 89],['Bob', 70, 80, 85],['Emily', 92, 88, 82]], columns=['학생', '수학', '영어' , '과학'])
df
#문2. 생성한 데이터 프레임의 요약 통계 정보를 출력하시오(pd.describe)
df.describe()
#문3. 생성한 데이터 프레잉에서 수학 점수가 가장 높은 학생의 정보를 출력하시오(max())
df['수학'].max()
#문4. 생성한 데이터 프레임에서 수학 점수가 90점 이상인 학생의 정보를 출력하시오(조건연산자)
df[df['수학']>90]

      학생  수학  영어  과학
3  Emily  92  88  82

In [ ]:
#'boxoffice'파일을 데이터프레임으로 생성하기]
import pandas as pd
#문1.데이터프레임을 생성한 후 데이터프레임의 정보를 출력하시오(info())
df=pd.read_excel('/content/drive/MyDrive/실습/BoxOffice.xlsx')
df.info()
#문2. 대표국적별 영화 판수를 집계하시오 value_counts()
print(df['대표국적'].value_counts())
#문3 대표국적이 영국인 데이터를 출력하시오 조건식
print(df[df['대표국적']=='영국'])
#문4 대표국적별 최상위 순위를 출력하시오 min
print(df.groupby('대표국적')['순위'].min())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   순위      200 non-null    int64
 1   영화명     200 non-null    object
 2   개봉일     200 non-null    datetime64[ns]
 3   매출액     200 non-null    int64
 4   관객수     200 non-null    int64
 5   스크린수    200 non-null    int64
 6   상영횟수    200 non-null    int64
 7   대표국적    200 non-null    object
 8   국적      200 non-null    object
 9   배급사     200 non-null    object
dtypes: datetime64[ns](1), int64(5), object(4)
memory usage: 15.8+ KB
대표국적
한국    116
미국     82
일본      1
영국      1
Name: count, dtype: int64
      순위     영화명        개봉일          매출액      관객수  스크린수   상영횟수 대표국적  국적  \
194  195  어바웃 타임 2013-12-05  25312684300  3449451   568  67267   영국  영국

                     배급사
194  유니버설픽쳐스인터내셔널 코리아(유)
<bound method GroupBy.min of <pandas.core.groupby.generic.DataFrameGroupBy object at 0x7b01ce5cf6d0>>